body{
    margin:0;
    width: 100vw;
}
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.headersec{
    height: 100vh;
    width: 100%;
    background-color: #F0FFF0;
    margin:0;
}
.headernav{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a{
    text-decoration: none;
    margin:20px;
    
}
.ankor:hover{
    border-bottom: 2px solid #21b573;
    
}
.singup{
    text-decoration: none;
    background-image: linear-gradient(90deg, #21b573,#21b573);
    border-radius: 33px;
    color: white;
    padding: 10px 15px;
}
#webicon{
    display:flex;
    width: 50%;
}
#webicon img{
    width: 198.07px;
    height: 59px;
    top: 15px;
    gap: 0px;
    opacity: 0px;

}

.lower-header-baner{
    display: flex;
    justify-content: space-evenly;
    align-items: center;


}
.header-left{
   font-size: 15px;
   
}
.header-left span{
    color: #21b573;
    font-weight: 900;
}
.header-left h1{
    font-size: 40px;
    font-weight: 1200;  
    line-height: 1px ;
 }
 .header-left h4{
    color:brown; 
 }
.header-right{
    width:50%;
    
}
.header-right img{
    width: 90%;
    height: 50%;
}
.resources{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 300px;
    width: 100vw;
    margin-left: 40px;
    margin-right: 50px;
    
}
.resource{
    display: flex;
    border-radius: 5px;
    height: 200px;
    width:200px;
    margin: 1px 10px;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    line-height: 1px;
}
.resource img{
    height:50px;
    width: 40px;
}
.resource:hover{
    box-shadow: 10px 10px 40px gray;
}
#oncourse{
    display:flex;
    align-items: center;
    justify-content: center;
}
.courses{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 400px;
    width: 100vw;
    margin-left: 40px;
    margin-right: 50px;
}
.course{
    display: flex;
    border-radius: 9px;
    height: 330px;
    width:260px;
    padding-left: 10px;
    margin: 1px 20px;
    flex-direction: column;
    line-height: 0px;
    box-shadow: 1px 1px 5px gray;
}
.course img{
    height:170px;
    width: 250px;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 10px;
}
.buycourse{
    color: white;
    text-decoration: none;
    background-image: linear-gradient(90deg, #21b573,#21b573);
    border-radius: 33px;
    padding: 20px;
    width: 90px;
}
.testimonial{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 160px;
    height: 250px;

}
.testimonial img{
    height: 130px;
    width: 130px;
    margin:10px;
}
.footer{
    height: 300px;
    background-color: rgb(5, 4, 13);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.fo1{
    color: white;
    width:30%;
    padding-left:20px;
}
.fo2 {
    color:white;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    
}
.fo2 ul>li{
    color: white;
    text-decoration: none;
    list-style-type: none;
    margin:0;
    padding:4px;

}
.fo2 ul>li>a{
    color: white;
    margin:0;
    padding:0;
}
.fo2 h3{
    margin-left: 25px;
}